td, th {
  padding: 0;
}

print *:not(html):after, 
  print *:not(html):before {
  color: #000 !important;
  text-shadow: none!important;
  background: 0 0!important;
  box-shadow: none!important;
}

* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn-block {
  display: block;
  width: 100%;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  transform: translate(0,-25%);
  transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
  transform: translate(0,0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 55px;
  top: -4.5%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.in {
  opacity: .5;
}

/* style 间隔 */

body {
  --mian-max-width: 1200px;
  --posts-card-scale: 70%;
  --posts-list-scale: 70%;
  --single-cover-scale: 35%;
  --theme-color: #f04494;
  --focus-color: var(--theme-color);
  --focus-shadow-color: rgba(253, 83, 161, 0.4);
  --key-color: #333;
  --main-color: #4e5358;
  --main-shadow: rgba(116, 116, 116, 0.08);
  --muted-color: #777;
  --muted-2-color: #999;
  --muted-3-color: #b1b1b1;
  --body-bg-color: #f5f6f7;
  --main-bg-color: #fff;
  --muted-bg-color: #eee;
  --main-border-color: rgba(50, 50, 50, 0.06);
  --muted-border-color: rgba(0, 0, 0, 0.03);
  --main-radius: 8px;
  --blur-bg: rgba(255, 255, 255, 0.8);
  --float-btn-bg: rgba(200, 200, 200, 0.4);
  --header-bg: var(--blur-bg);
  --header-color: var(--main-color);
  --footer-bg: var(--main-bg-color);
  --footer-color: var(--muted-2-color);
}

.dark-theme {
  --key-color: #f8fafc;
  --main-color: #e5eef7;
  --main-shadow: rgba(24, 24, 24, 0.1);
  --muted-color: #b4b6bb;
  --muted-2-color: #888a8f;
  --muted-3-color: #636469;
  --body-bg-color: #292a2d;
  --main-bg-color: #323335;
  --muted-bg-color: #2d2e31;
  --main-border-color: rgba(114, 114, 114, 0.1);
  --muted-border-color: rgba(184, 184, 184, 0.02);
  --blur-bg: rgba(50, 51, 53, 0.8);
  --float-btn-bg: rgba(70, 70, 70, 0.4);
  --header-bg: var(--blur-bg);
  --header-color: var(--main-color);
  --footer-bg: var(--main-bg-color);
  --footer-color: var(--muted-2-color);
}

a:focus,a:hover {
  color: var(--focus-color);
  outline: 0;
  text-decoration: none;
}

.zib-widget {
  clear: both;
  background: var(--main-bg-color);
  padding: 15px;
  box-shadow: 0 0 10px var(--main-shadow);
  border-radius: var(--main-radius);
  margin-bottom: 20px;
}

.blur-bg {
  -webkit-backdrop-filter: saturate(5) blur(20px);
  backdrop-filter: saturate(5) blur(20px);
  background: var(--blur-bg);
}

.box-body,.box-header {
  padding: 23px;
}

.badg.radius,.but.radius,.radius>.but {
  border-radius: 50px;
  padding: .3em 1em;
}

.b-blue,.b-blue-2,.b-cyan,.b-gray,.b-green,.b-purple,.b-red,.b-theme,.b-yellow,.jb-blue,.jb-cyan,.jb-green,.jb-pink,.jb-purple,.jb-red,.jb-vip1,.jb-vip2,.jb-yellow {
  color: var(--this-color);
  background: var(--this-bg);
  --this-color: #fff;
}

.jb-blue,.jb-cyan,.jb-green,.jb-pink,.jb-purple,.jb-red,.jb-vip1,.jb-vip2,.jb-yellow {
  border: none;
}

.jb-red,.order-type-9 .pay-tag {
  --this-bg: linear-gradient(135deg, #fd7a64 10%, #fb2d2d 100%);
}

.jb-pink,.order-type-2 .pay-tag {
  --this-bg: linear-gradient(135deg, #ff5e7f 30%, #ff967e 100%);
}

.jb-yellow,.order-type-3 .pay-tag {
  --this-bg: linear-gradient(135deg, #f59f54 10%, #ff6922 100%);
}

.jb-blue,.order-type-7 .pay-tag {
  --this-bg: linear-gradient(135deg, #59c3fb 10%, #268df7 100%);
}

.tab-nav-theme li:before,.title-h-center:before,.title-h-left:before,.title-theme:before,.wp-posts-content>h1.has-text-align-center:before,.wp-posts-content>h1.wp-block-heading:before,.wp-posts-content>h1:not([class]):before,.wp-posts-content>h2.has-text-align-center:before,.wp-posts-content>h2.wp-block-heading:before,.wp-posts-content>h2:not([class]):before,.wp-posts-content>h3.has-text-align-center:before,.wp-posts-content>h3.wp-block-heading:before,.wp-posts-content>h3:not([class]):before,.wp-posts-content>h4.has-text-align-center:before,.wp-posts-content>h4.wp-block-heading:before,.wp-posts-content>h4:not([class]):before,.zib-widget>h3:before {
  position: absolute;
  content: '';
  width: 4px;
  background: var(--theme-color);
  top: 10%;
  left: 2px;
  bottom: 10%;
  border-radius: 5px;
  box-shadow: 1px 1px 3px -1px var(--theme-color);
}

.tab-nav-theme li,.title-h-center,.title-h-left,.wp-posts-content>h1.has-text-align-center,.wp-posts-content>h1.wp-block-heading,.wp-posts-content>h1:not([class]),.wp-posts-content>h2.has-text-align-center,.wp-posts-content>h2.wp-block-heading,.wp-posts-content>h2:not([class]),.wp-posts-content>h3.has-text-align-center,.wp-posts-content>h3.wp-block-heading,.wp-posts-content>h3:not([class]),.wp-posts-content>h4.has-text-align-center,.wp-posts-content>h4.wp-block-heading,.wp-posts-content>h4:not([class]),.zib-widget>h3 {
  position: relative;
  padding-bottom: 8px;
}

.tab-nav-theme li:before,.title-h-center:before,.title-h-left:before,.wp-posts-content>h1.has-text-align-center:before,.wp-posts-content>h1.wp-block-heading:before,.wp-posts-content>h1:not([class]):before,.wp-posts-content>h2.has-text-align-center:before,.wp-posts-content>h2.wp-block-heading:before,.wp-posts-content>h2:not([class]):before,.wp-posts-content>h3.has-text-align-center:before,.wp-posts-content>h3.wp-block-heading:before,.wp-posts-content>h3:not([class]):before,.wp-posts-content>h4.has-text-align-center:before,.wp-posts-content>h4.wp-block-heading:before,.wp-posts-content>h4:not([class]):before,.zib-widget>h3:before {
  width: 40px;
  height: 3px;
  top: auto;
  left: 0;
  bottom: 3px;
  transition: .4s;
}

.tab-nav-theme li:before,.title-h-center:before,.wp-posts-content>h1.has-text-align-center:before,.wp-posts-content>h2.has-text-align-center:before,.wp-posts-content>h3.has-text-align-center:before,.wp-posts-content>h4.has-text-align-center:before {
  left: 0;
  right: 0;
  margin: auto;
}

.title-h-center:hover:before,.title-h-left:hover:before {
  width: 125px;
}

.modal {
  padding-right: 0!important;
}

.modal-title {
  font-size: 16px;
}

.modal-content {
  border-radius: var(--main-radius);
  background: var(--main-bg-color);
  border: none;
}

.modal.fade .modal-dialog {
  transform: scale(.9);
  transition: transform .5s cubic-bezier(.32,.85,.45,1.18),width .3s;
}

.modal.in .modal-dialog {
  transform: scale(1);
}

.separator {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator::after,.separator::before {
  content: "";
  background: var(--main-border-color);
  max-width: 20%;
  height: 1px;
  margin: 0 1em;
  flex: 1;
  background-color: rgba(128, 128, 128, 0.5);
}

.sign-content {
  padding: 20px 0;
}

.sign-img {
  position: absolute;
  padding-right: 40%;
}

.sign-logo img {
  max-width: 180px;
  max-height: 60px;
}

.sign ul>li {
  margin: 10px 0;
}

#sign-in,#sign-up {
  padding: 0 10px;
}

/** 头像呼吸光环旋转放大开始 **/
.avatar {
  border-radius: 50%;
  animation: light 4s ease-in-out infinite;
  transition: 0.5s;
}

.avatar:hover {
  transform: scale(1.15) rotate(720deg);
}

@keyframes light {

  0% {
    box-shadow: 0 0 4px #f00;
  }

  25% {
    box-shadow: 0 0 16px #0f0;
  }

  50% {
    box-shadow: 0 0 4px #00f;
  }

  75% {
    box-shadow: 0 0 16px #0f0;
  }

  100% {
    box-shadow: 0 0 4px #f00;
  }
}
/** 头像呼吸光环旋转放大结束 **/

/** 彩色昵称开始 **/
.display-name {
  background-image: -webkit-linear-gradient(90deg, #07c160, #fb6bea 25%, #3aedff 50%, #fb6bea 75%, #28d079);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 100% 600%;
  animation: wzw 10s linear infinite;
  font-size: 18px;
}

@keyframes wzw {

  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -300%;
  }
}

/** 彩色昵称结束 **/
* {
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 10px 0;
  -webkit-font-smoothing: antialiased;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  accent-color: var(--color-primary);
}

input {
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  background: #f2f2f7;
}

button {
  font-size: 16px;
  background: var(--color-primary);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 0.24em 0.5em;
}

button .iconfont {
  margin-right: 6px;
}

.list {
  margin: 15px;
}

.list__header {
  margin: 0 20px;
  color: var(--list-header-color);
  font-size: 13px;
}

.list__body {
  margin-top: 10px;
  background: var(--card-background);
  border-radius: var(--card-radius);
  border-radius: 12px;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 21px;
  margin-top: -18px;
  margin-bottom: 5px;
  font-weight: bold;
}

.update-content {
  text-align: center;
  font-size: 16px;
}

.text-content {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 152px;
}

.form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  min-height: 2em;
  padding: 0.5em 20px;
  position: relative;
}

.form-label {
  display: flex;
  align-items: center;
}

.form-label-img {
  height: 28;
}

.form-label-title {
  margin-left: 12px;
}

.form-item--link .icon-arrow_right {
  color: #86868b;
}

.form-item-right-desc {
  font-size: 16px;
  color: #86868b;
  margin-right: 5px;
}

.form-item + .form-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  border-top: 0.5px solid var(--divider-color);
}

.form-item .iconfont {
  margin-right: 4px;
}

.form-item input,

    .form-item select {
  font-size: 14px;
  text-align: right;
}

.form-item input[type="checkbox"] {
  width: 1.25em;
  height: 1.25em;
}

input[type="number"] {
  width: 4em;
}

input[type="date"] {
  min-width: 6.4em;
}

input[type='checkbox'][role='switch'] {
  position: relative;
  display: inline-block;
  appearance: none;
  width: 40px;
  height: 24px;
  border-radius: 24px;
  background: #ccc;
  transition: 0.3s ease-in-out;
}

input[type='checkbox'][role='switch']::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s ease-in-out;
}

input[type='checkbox'][role='switch']:checked {
  background: var(--color-primary);
}

input[type='checkbox'][role='switch']:checked::before {
  transform: translateX(16px);
}

.actions {
  margin: 15px;
}

.copyright {
  margin: 15px;
  font-size: 12px;
  color: #86868b;
}

.copyright a {
  color: #515154;
  text-decoration: none;
}

.preview.loading {
  pointer-events: none;
}

.icon-loading {
  display: inline-block;
  animation: 1s linear infinite spin;
}

@keyframes spin {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --divider-color: rgba(84,84,88,0.65);
    --card-background: #1c1c1e;
    --list-header-color: rgba(235,235,245,0.6);
  }

  body {
    background: #000;
    color: #fff;
  }
}